{% extends "layout.html" %}
{% block title %}Space Exploration Portal{% endblock %}

{% block content %}
  <h1 class="display-4">Image of the Day:</h1>

  <img src="{{ landing_image }}" width=350px height=350px>
  <div>
    <p>Description: {{ image_description }}</p>
  </div>  

  <div>
    <form action="/request" id="date_input" method="get">
      <label for="user_dateinput">Please enter a date here: </label>
      <input type="date" name="user_dateinput">
      <input type="submit">
    </form>
  </div>
{% endblock %}
